{
  "plugins": ["prettier-plugin-tailwindcss"],
  "experimentalTernaries": true,
  "printWidth": 80,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "consistent",
  "bracketSameLine": true
}
